<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
    
    
    #Block Spidering
    RewriteCond %{HTTP_USER_AGENT} ^searchbot1 [OR]
    RewriteCond %{HTTP_USER_AGENT} ^searchbot2 [OR]
    RewriteCond %{HTTP_USER_AGENT} ^searchbot3
    RewriteRule ^(.*)$ http://www.someOtherWebsite.com/ [R, L]

</IfModule>
